# Node.js
node_modules/
dist/
build/
coverage/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
.DS_Store
.env
.env.*
.cache/
public/build/
.next/
.nuxt/
*.local
*.log
.idea/
.vscode/
